[submodule "backend"]
	path = backend
	url = https://github.com/jorgemejia25/IPC1_Proyecto2_202300376_Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/jorgemejia25/IPC1_Proyecto2_202300376_Frontend
[submodule "IPC1_Proyecto2_202300376"]
	path = IPC1_Proyecto2_202300376
	url = https://github.com/jorgemejia25/IPC1_Proyecto2_202300376.git
